.resultlist-wrapper{
  padding: 40px;
  padding-bottom: 80px;
  background-color: #2a2a2b;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.resultlist-wrapper .list-wrapper{
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-wrapper li{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.list-wrapper li a{
  display: block;
  border: 0px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;

}